<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:post-featured-image /-->
<!-- wp:group {"tagName":"main","layout":{"type":"flex"}} -->
<main class="wp-block-group">
	<!-- wp:query {"query":{"perPage":6,"pages":0,"offset":0,"postType":"page","order":"desc","orderBy":"id","author":"","search":"","exclude":[],"sticky":"","inherit":true,"taxQuery":null,"parents":[]},"displayLayout":{"type":"flex","columns":1},"align":"wide","layout":{"type":"flex"}} -->
	<div class="wp-block-query alignwide">
		<!-- wp:post-template {"align":"wide"} -->
			<!-- wp:post-featured-image {"isLink":true,"width":"100%","height":"max(15vw, 30vh)","align":"wide"} /-->
                        <!-- wp:post-content /-->
			<!-- wp:spacer {"height":"var(--wp--preset--spacing--70)"} -->
			<div style="height:var(--wp--preset--spacing--70)" aria-hidden="true" class="wp-block-spacer"></div>
			<!-- /wp:spacer -->
		<!-- /wp:post-template -->
<!-- wp:query-no-results -->
<!-- wp:paragraph {"placeholder":"No pages in this website."} -->
<p></p>
<!-- /wp:paragraph -->
<!-- /wp:query-no-results -->
		<!-- wp:query-pagination {"paginationArrow":"arrow","align":"wide","layout":{"type":"flex","justifyContent":"space-between"}} -->
			<!-- wp:query-pagination-previous /-->
			<!-- wp:query-pagination-next /-->
		<!-- /wp:query-pagination -->
	</div>
	<!-- /wp:query -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
<style>
.entry-content.wp-block-post-content.is-layout-flow {
    padding: 8px 32px;
}

</style>
