/*
Theme Name:   WCRio-FSE
Theme URI:    http://kobkob.org/
Description:  2023 Child Theme
Author:       Monsenhor
Author URI:   http://kobkob.org/
Template:     twentytwentythree
Version:      1.0.0
License:      GNU General Public License v2 or later
License URI:  http://www.gnu.org/licenses/gpl-2.0.html
Tags:         light, one-column, no-sidebar, responsive-layout, accessibility-ready
Text Domain:  wcrio-fse
*/


/* main elements */

.site-info a {
	display: none;
}
.hentry .entry-content a {
	text-decoration: none;
}

/* header */
header .wcrio-header {
    background-image: url(/wp-content/themes/wcrio-fse/assets/images/header.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 71vh;
    width: 91vw;
    margin-left: 10%;
}
header.wp-block-template-part {
    position: relative;
}
header p.wp-block-site-title {
	margin-left: 90px;
}
header div.wcrio-nav {
    position: absolute;
    bottom: 5px;
    right: 20px;
    width: 35vw;
}
div.wcrio-nav p, div.wcrio-nav li {
    transform: rotate(270deg);
    margin-bottom: 5px;
    text-align: left;
}
.wp-block-site-title a {
	text-decoration: none;
	font-size: 26px;
}
.wp-block-post-title {
	margin: auto;
	max-width: 1092px;
	margin-top: 26px;
}
#primary {
	background-color: #fff;
}
.col-full {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	box-sizing: content-box;
}
header .wp-block-group {
}
select.orderby {
	background-color: grey;
	color: #fff;
	border-radius: 7px;
	border: none;
	padding: 4px;
}
button.cart-btn svg {
	margin-bottom: -8px;
}
button.cart-btn {
    background-color: white;
}
li.product .wp-element-button {
	background-color: #5c5854;
	border-width: 0;
	color: #fff;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	padding: calc(0.267em + 2px) calc(1.333em + 2px);
	text-decoration: none;
	border-radius: 9px;
}
.product-category a {
	text-decoration: none;
}
.menu {
	background: #fff;
	padding-left: 20px;
}
.menu li a {
	margin-top: 0;
	padding-top: 0;
	line-height: 5px;
}
.wp-block-group.alignfull.rp-hero-top {
	margin-top: 0;
}
.entry-content.wp-block-post-content.is-layout-flow {
    padding: 8px 32px;
}
.site-main {
	margin: auto;
	margin-bottom: 2.617924em;
	max-width: 1092px;
}
div.rp-home-block {
	margin: auto;
	max-width: 1092px;
}
div.rp-page-block {
	margin: auto;
	max-width: 1092px;
        padding:0;
}
.wp-block-separator {
	border-bottom: 2px solid #d3cac7 !important; 
	padding-top: 21px;
	background-color: #fff;
}
footer.wp-block-template-part {
    background-color: #efefef;
}
@media (min-width: 768px) {
.storefront-primary-navigation {
  clear: both;
  max-height: 54px;
  overflow: hidden;
  padding-top: 0;
}
}
/* Masonry original from woocommerce-product-categories */

.wp-block-woocommerce-product-categories.home-category-list ul.wc-block-product-categories-list li {
background: none;
	border-bottom: none;
	display: block;
	list-style: none;
	margin: 0;
	padding: 5px;
}
.wc-block-product-categories-list-item__name {
	display: none;
}
.wc-block-product-categories-list-item__name {
	display: none;
}
/* The Mansory block */
.grid-wrapper > div {
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}
.grid-wrapper > div > img {
box-sizing: border-box;
 	width: 100%;
	height: 100%;
	object-fit: cover;
  box-sizing: border-box;
	border-radius: 5px;
	box-sizing: border-box;
	cursor:pointer;
}
.grid-wrapper {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-auto-rows: 220px;
	grid-auto-flow: dense;
	box-sizing: border-box;
}
.grid-wrapper .wide {
	grid-column: span 2;
  box-sizing: border-box;
}
.grid-wrapper .tall {  
	grid-row: span 2;
  box-sizing: border-box;
}
.grid-wrapper .big {
	grid-column: span 2;
	grid-row: span 2;
  box-sizing: border-box;
}
/* End Mansory block */

.blockUI.blockMsg.blockPage {
	width: 80vw !important;
	left: 10vw !important;
	top: 10vh !important;
	height: 80vh !important;
}
.blockUI iframe {
	width: 80vw;
	height: 80vh;
}
.page-hero {
    margin-bottom: 5rem;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-size: cover;
    justify-content: end;
}
footer ~ div.wp-block-group {
	display: none;
}
/* woocommerce styles */
button.alt, input[type="button"].alt, input[type="reset"].alt, input[type="submit"].alt, .button.alt, .widget-area .widget a.button.alt {
	background-color: #95989a !important;
	border-color: #95989a !important;
	color: #ffffff !important;
}
.woocommerce a {
	color: #6d6d6d;
	text-decoration: none;
}

header div.wc-block-mini-cart.wp-block-woocommerce-mini-cart {
	margin-right: 90px;
}

.woocommerce-LoopProduct-link.woocommerce-loop-product__link {
	text-decoration: none;
}

.woocommerce-info, .woocommerce-noreviews, p.no-comments {
	background-color: #b7b3b3;
}

html.jetpack-lazy-images-js-enabled.wf-abrilfatface-n4-active.wf-active body.blog.logged-in.admin-bar.wp-custom-logo.wp-embed-responsive.theme-storefront.woocommerce-demo-store.woocommerce-block-theme-has-button-styles.woocommerce-js.storefront-full-width-content.storefront-align-wide.right-sidebar.woocommerce-active.customize-support div.wp-site-blocks div.wp-block-group p.has-text-align-center {
	display: none;
}

/* Gutenberg styles */
body.editor-styles-wrapper .is-root-container .wp-block {
	max-width: 100%;
}
body.editor-styles-wrapper .is-root-container div.wp-block.wp-container-2 {
	margin: auto;
	max-width: 1092px;
}

.wp-block-image .components-resizable-box__container img {
	height: auto;
}
