<!-- wp:pattern {"slug":"footer"} /-->
<!-- wp:columns {"layout":{"type":"flex"}, "styles":{"color":{"background":"#fff"}}} -->
<div class="wp-block-columns has-background">
    <!-- wp:column -->
    <div class="wp-block-column">
        <!-- wp:paragraph -->
        <p>Email: </p>
        <!-- /wp:paragraph -->
       <!-- wp:paragraph -->
        <p>wordcamprio2024@gmail.com</p>
        <!-- /wp:paragraph -->
    </div>
    <!-- /wp:column -->
    <!-- wp:column -->
    <div class="wp-block-column">
        <!-- wp:paragraph -->
        <p>Rio de Janeiro, RJ</p>
        <!-- /wp:paragraph -->
    </div>
    <!-- /wp:column -->
    <!-- wp:column -->
    <div class="wp-block-column">
        <!-- wp:paragraph -->
        <p>© WordCamp Rio 2024</p>
        <!-- /wp:paragraph -->

        <!-- wp:html -->
        <div style="display:flex">
            <figure class="wp-block-image"><a href="https://youtube.com/"><img src="/wp-content/themes/rphotos-sf-child/assets/images/youtube.png" alt="Youtube" /></a></figure>
            <figure class="wp-block-image"><a href="https://youtube.com/"><img src="/wp-content/themes/rphotos-sf-child/assets/images/linkedin.png" alt="LinkedIn" /></a></figure>
            <figure class="wp-block-image"><a href="https://youtube.com/"><img src="/wp-content/themes/rphotos-sf-child/assets/images/instagram.png" alt="Instagram" /></a></figure>
            <figure class="wp-block-image"><a href="https://youtube.com/"><img src="/wp-content/themes/rphotos-sf-child/assets/images/facebook.png" alt="Facebook" /></a></figure>
        </div>
        <!-- /wp:html -->

    </div>
    <!-- /wp:column -->
</div>
<!-- /wp:columns -->
